<footer class="footer">
  <div class="footer-top">
    <div class="footer-col">
      <h4>AIDE</h4>
      <a href="#">Mentions légales</a>
      <a href="#">Contact</a>
      <a href="#">CDG</a>
      <a href="#">Politique de Confidentialité</a>
    </div>
    <div class="footer-col">
      <h4>SHOP</h4>
      <a href="cremes.html">Crèmes pour le corps</a>
      <a href="#">Valeurs de la marque</a>
    </div>
  </div>

  <div class="footer-bottom">
    <small>Copyright © 2026 ALYNIA</small>
  </div>
</footer>
